<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" align="center">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field"  align="center">
    <%= f.label :posted_on %><br>
    <%= f.date_field :posted_on %>
  </div>
  <br>
  <div class="field"  align="center">
    <%= f.label :featured_img %><br>
    <%= f.text_field :featured_img %>
  </div>
  <br>
  <div class="field"  align="center">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <br>
    
  <div class="field"  align="center">
    <%= f.label :category_id %><br>
	<%= f.collection_select:category_id,Category.all,:id, :title%>
  </div>
  <br>
  <div class="actions"  align="center">
    <%= f.submit %>
  </div>
<% end %>
